<div class="pg-body">
    <div class="container contact">
       <div class="row">
          <div class="col-md-9 col-sm-12">
             <form action="/" class="validation-engine">
                <div class="google-maps">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89553.25418528763!2d9.19406272678945!3d45.458941223623455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c1493f1275e7%3A0x3cffcd13c6740e8d!2sMilan!5e0!3m2!1sen!2s!4v1403031740860" width="370" height="150"></iframe>
                </div>
                <h6>LEAVE A REPLY</h6>
                <div class="row">
                   <div class="col-sm-6 col-xs-12">
                      <div class="required form-group">
                         <input type="text" class="form-control validate[required]" data-prompt-position="topLeft" placeholder="Name *">
                      </div>
                      <div class="required form-group">
                         <input type="text" class="form-control validate[required,custom[email]]" data-prompt-position="topLeft" placeholder="E-mail *">
                      </div>
                      <div class="required form-group">
                         <input type="text" class="form-control validate[required]" data-prompt-position="topLeft" placeholder="Enter your subgect *">
                      </div>
                      <p>Your email adress will not published. Reguired fields are marked *</p>
                   </div>
                   <div class="col-sm-6 col-xs-12">
                      <div class="required form-group">
                         <textarea class="form-control validate[required]" data-prompt-position="topLeft" rows="6" placeholder="Your comment"></textarea>
                      </div>
                      <div class="required form-group">
                         <button class="btn btn-sm btn-third-col col-xs-12" type="submit">POST COMMENT</button>
                      </div>
                   </div>
                </div>
             </form>
          </div>
          <div class="col-sm-12 col-md-3">
             <h6>CONTACT PERSON</h6>
             <div class="person">
                <div class="img-cover"><img src="../../assets/images/av_3.jpg" alt="#"></div>
                <div class="name">John Doe<span> – Director</span></div>
                <div class="smart-phone"><i class="icon-screen-smartphone"></i><span>+1(800)2364 322 23 16</span></div>
                <div class="email"><i class="icon-envelope-open"></i><a href="/cdn-cgi/l/email-protection#83eeeaefe2edc3e4eee2eaefade0ecee"><span class="__cf_email__" data-cfemail="e68b8f8a8788a6818b878f8ac885898b">[email&#160;protected]</span></a></div>
             </div>
             <div class="person">
                <div class="img-cover"><img src="../../assets/images/av_2.jpg" alt="#"></div>
                <div class="name">Michael Doe<span> – Manager</span></div>
                <div class="smart-phone"><i class="icon-screen-smartphone"></i><span>+1(800)2364 322 23 16</span></div>
                <div class="email"><i class="icon-envelope-open"></i><a href="/cdn-cgi/l/email-protection#5a3733363b341a3d373b333674393537"><span class="__cf_email__" data-cfemail="0e6367626f604e69636f6762206d6163">[email&#160;protected]</span></a></div>
             </div>
             <div class="person">
                <div class="img-cover"><img src="../../assets/images/av_1.jpg" alt="#"></div>
                <div class="name">Justin  Doe<span> – Assistant Manager</span></div>
                <div class="smart-phone"><i class="icon-screen-smartphone"></i><span>+1(800)2364 322 23 16</span></div>
                <div class="email"><i class="icon-envelope-open"></i><a href="/cdn-cgi/l/email-protection#3c5155505d527c5b515d5550125f5351"><span class="__cf_email__" data-cfemail="e78a8e8b8689a7808a868e8bc984888a">[email&#160;protected]</span></a></div>
             </div>
             <div class="detail">
                <h6>CONTACT DETAILS</h6>
                <div class="phone"><i class="icon-call-end"></i><span>+1(800)2364 322 23 16</span></div>
                <div class="smart-phone"><i class="icon-screen-smartphone"></i><span>+1(800)2364 322 23 16</span></div>
                <div class="email"><i class="icon-envelope-open"></i><a href="/cdn-cgi/l/email-protection#791410151817391e14181015571a1614"><span class="__cf_email__" data-cfemail="b5d8dcd9d4dbf5d2d8d4dcd99bd6dad8">[email&#160;protected]</span></a></div>
                <div class="skype"><i class="social_skype"></i><span>Milan_best_template</span></div>
             </div>
          </div>
       </div>
    </div>
 </div>