   <!-- page body content begin -->
   <div class="pg-body clearfix">
      <div class="container clearfix">
         <!-- <div class="row">
            <div class="container">
               <div class="col-xs-12 product-top-line">
                  <a href="category.html" class="btn btn-yet-col col-xs-2 back-catalog pull-left">BACK IN CATALOG</a>
                  <div class="pull-right">
                     <div class="previous-product"><img src="../../assets/images/prd-1.jpg" alt="#"><span class="arrow_carrot-left"></span></div>
                     <div class="next-product"><img src="../../assets/images/prd-2.jpg" alt="#"><span class="arrow_carrot-right"></span></div>
                  </div>
               </div>
            </div>
         </div> -->
         <br/>
         <div class="row">
            <div class="col-md-6 col-lg-7 col-xs-12 product-images">
               <div class="clearfix zoom-content">
                  
                  <a href="#" class="btn btn-yet-col" id="product-pupGallery-button" data-target="#product-pupGallery-box" data-toggle="modal"><span class="icon-magnifier-add"></span></a>
                  <div aria-hidden="true" aria-labelledby="product-added" role="dialog" tabindex="-1" id="product-pupGallery-box" class="modal fade" style="display: none;">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                           <a aria-hidden="true" data-dismiss="modal" class="modal-close" href="#"><i class="icon_close"></i></a>
                           <h4 class="modal-title">Information</h4>
                        </div>
                        <div class="modal-body modal-body-info">
                           <div class="clearfix zoom-content-2">
                              <div class="clearfix big-image">

                                 <img id="zoom_04" src="../../assets/images/product_page_gallery/1-big.jpg" data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg" alt=""/> 

                              </div>
                              <div class="clearfix thumbnails">
                                 <ul id="thumblist2" class="clearfix" >

                                    <li>
                                       <a  href="#" class="elevatezoom-gallery zoomThumbActive" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/1-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image1.png" 
                                       data-zoom-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image1.jpg">
                                          <img src="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image1.png" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/2-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/3-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/4-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image1.png" 
                                       data-zoom-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image1.jpg">
                                          <img src="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image1.png" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/1-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/2-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/3-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/4-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/4-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image1.png" 
                                       data-zoom-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image1.jpg">
                                          <img src="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image1.png" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/1-small.jpg" width="100" alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/2-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/3-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>
                                    <li>
                                       <a  href="#" class="elevatezoom-gallery" data-update="" 
                                       data-image="../../assets/images/product_page_gallery/1-big.jpg" 
                                       data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                                          <img src="../../assets/images/product_page_gallery/4-small.jpg" width="100"  alt="" />
                                       </a>
                                    </li>


                                 </ul>
                              </div>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  

                  <a href="#" class="btn btn-yet-col" id="product-video-button" data-target="#product-video-box" data-toggle="modal"><span class="social_youtube"></span></a>
                  <div aria-hidden="true" aria-labelledby="product-added" role="dialog" tabindex="-1" id="product-video-box" class="modal fade" style="display: none;">
                    <div class="modal-dialog modal-md">
                      <div class="modal-content">
                        <div class="modal-header">
                           <a aria-hidden="true" data-dismiss="modal" class="modal-close" href="#"><i class="icon_close"></i></a>
                           <h4 class="modal-title">Product video</h4>
                        </div>
                        <div class="modal-body modal-body-info">
                           <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zTJkgHuYt_8?rel=0" allowfullscreen=""></iframe>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="clearfix big-image product-page">

                     <img id="zoom_03" src="../../assets/images/product_page_gallery/1-big.jpg" data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg" alt=""/> 

                  </div>
                  <br/>
                  <div class="clearfix thumbnails">
                     <ul id="thumblist" class="clearfix" >

                        <li>
                           <a  href="#" class="elevatezoom-gallery zoomThumbActive" data-update=""  data-image="../../assets/images/product_page_gallery/1-big.jpg" data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                              <img src="../../assets/images/product_page_gallery/1-small.jpg" width="100" alt="" />
                           </a>
                        </li>
                        <li>
                          <a  href="#" class="elevatezoom-gallery zoomThumbActive" data-update=""  data-image="../../assets/images/product_page_gallery/2-big.jpg" data-zoom-image="../../assets/images/product_page_gallery/2-big-3x.jpg">
                             <img src="../../assets/images/product_page_gallery/2-small.jpg" width="100" alt="" />
                          </a>
                        </li>
                        <li>
                       <a  href="#" class="elevatezoom-gallery zoomThumbActive" data-update=""  data-image="../../assets/images/product_page_gallery/1-big.jpg" data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                          <img src="../../assets/images/product_page_gallery/1-small.jpg" width="100" alt="" />
                       </a>
                        </li>
                        <li>
                       <a  href="#" class="elevatezoom-gallery zoomThumbActive" data-update=""  data-image="../../assets/images/product_page_gallery/1-big.jpg" data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                          <img src="../../assets/images/product_page_gallery/1-small.jpg" width="100" alt="" />
                       </a>
                        </li>
                        <li>
                           <a  href="#" class="elevatezoom-gallery zoomThumbActive" data-update=""  data-image="../../assets/images/product_page_gallery/1-big.jpg" data-zoom-image="../../assets/images/product_page_gallery/1-big-3x.jpg">
                              <img src="../../assets/images/product_page_gallery/1-small.jpg" width="100" alt="" />
                           </a>
                        </li>

                     </ul>
                  </div>
               </div>
               <div class="article-info col-xs-12">
                  <div class="for-border-top share-wrapp clearfix">
                     <span class="h7">SHARE PRODUCT</span>
                     <ul class="list-inline social-buttons">
                        <li class="facebook"><a href="#"><i class="icon-social-facebook"></i></a></li>
                        <li class="tweeter"><a href="#"><i class="icon-social-twitter "></i></a></li>
                        <li class="gplus"><a href="#"><i class="social_googleplus "></i></a></li>
                        <li class="dribbble"><a href="#"><i class="icon-social-dribbble"></i></a></li>
                        <li class="instantgram"><a href="#"><i class="social_instagram "></i></a></li>
                     </ul>
                  </div>
                  <div class="for-border-top print-wrapp">
                     <span class="print"><a href=""><span class="icon_printer-alt"></span>Print</a></span>
                  </div>
               </div> 
            </div>




            <div class="col-md-6 col-lg-5 col-xs-12 product-info">
               <div id="zoom-window-container" style="position: relative;"></div>
               <div class="product-reviews">
                  <h3>{{product.name}}</h3>
               </div>
               <img src="../../assets/images/brands/nike.png" alt="#" class="brand">
               <div class="hr"></div>
               <div class="price">
                  &#8377; {{product.price?.sellingPrice?.amount}}
                  <span class="old-price">&#8377; {{product.price?.maxRetailPrice?.amount}}</span>
                   50% Off
               </div>
               <p class="availability col-sm-pull-right col-xs-pull-left">Availability: <span><span class="in-stock"></span>In Stock</span></p>
               <div class="hr"></div>
               <p class="data-info">Product Code: <span>{{product.id}}</span></p>
               <p class="data-info">Product Type: <span>{{product.productType}}</span></p>
               <p class="data-info">Brand: <span>{{product.brand}}</span></p>
               <div class="hr"></div>
               <p>{{product.description}}</p>
               <div class="hr"></div>
               <p class="data-info" *ngFor="let attribute of product.attributes">{{attribute.name}}: <span>{{attribute.value}}</span></p>
               <div class="hr"></div>
               <span class="data-info secondary-font-family">COLOR: <span><em class="color-option dot {{product.color | lowercase}}"></em>{{product.color|titlecase }}</span></span>
               &nbsp;  &nbsp; |  &nbsp; &nbsp;
               <span class="availability">Available Quantity: <span>{{stock}}</span></span>
               <div class="hr"></div>
               <span class="data-info secondary-font-family">SELECT SIZE</span>
               <div class="size-blocks">
                  <div class="radio-inline size" *ngFor="let sku of product.skus;let i = index;">
                     <input (click)="setStock(sku.stock)" [checked]="i==0" type="radio" name="size" value="1" id="radio-size-{{i}}"><label for="radio-size-{{i}}">{{sku.size}}</label>
                  </div>
               </div>
               <div class="hr"></div>
               <div class="cart_quantity_button clrfix product-count pull-left">
                  <a rel="nofollow" class="btn btn-default btn-minus" href="#" title="Subtract">&ndash;</a>
                  <input type="text" disabled="" size="2" autocomplete="off" class="cart_quantity_input form-control grey count" value="1" name="quantity">
                  <a rel="nofollow" class="btn btn-default btn-plus" href="#" title="Add">+</a>
               </div>
               <button class="btn btn-sec-col pull-left add-cart"><i class="icon-bag"></i>&nbsp;&nbsp;ADD TO CART</button>
               <a href="#" class="btn btn-gray"><span class="icon-heart"></span></a>
               <a href="" class="btn btn-gray"><span class="arrow_left-right_alt"></span></a>
               <div class="hr"></div>
               <div class="product-tabs">
                  <!-- Nav tabs -->
                  <ul role="tablist" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" role="tab" href="#tab-description">DESCRIPTION</a></li>
                    <li><a data-toggle="tab" role="tab" href="#tab-additional-info">SELLER INFO</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                     <div id="tab-description" class="tab-pane active">
                        <p>{{product.description}}</p>
                     </div>
                     <div id="tab-additional-info" class="tab-pane">
                        <p class="data-info">Seller Name : <span>{{product.sellerInfo?.name}}</span></p>
                        <p class="data-info">Seller Address : <span>{{product.sellerInfo?.address}}</span></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- <section>
         <div class="container best-product">
            <div class="col-xs-12"><h6>RELATED PRODUCTS</h6></div>
            <div class="gap-70"></div>
            <div class="products-list pl-carousel">
               <ul class="pl-pages">
                  <li class="active">
                     <div class="row">
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/1.jpg" alt="">
                              </a>
                              <span class="pl-badge">NEW</span>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old">$ 950.00</span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating stars-4"><span class="stars"></span></span>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/2.jpg" alt="">
                              </a>
                              <span class="pl-badge">- 50%</span>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/3.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/4.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="row">
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/5.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/6.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/7.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/8.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="row">
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/2.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/1.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old">$ 950.00</span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating stars-4"><span class="stars"></span></span>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/4.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/5.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="row">
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/6.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/7.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                         <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/3.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                           <figure>
                              <a href="product-page.html">
                                 <img src="../../assets/images/products/thumbs/8.jpg" alt="">
                              </a>
                              <figcaption>
                                 <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 <span class="pl-price-old"></span>
                                 <span class="pl-price">$ 900.00</span>
                              </p>
                              <p class="pl-name">Lacoste Cotton Shirt Slim Fit</p>
                              <span class="stars-rating"><span class="stars"></span></span>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
               <div class="pl-controls">
                  <a href="#" class="pl-ctl-left"></a>
                  <a href="#" class="pl-ctl-right"></a>
               </div>
            </div>
         </div>
      </section> -->

      <div class="container">
         <div class="row subscribe">
            <div class="col-md-6 col-sm-12"><h3><span class="icon-envelope"></span>SUBSCRIBE FOR OUR NEWSLETTER</h3></div>
            <div class="col-md-6 col-sm-12">
               <form action="/">
                  <div class="required form-group search col-sm-8 col-xs-12">
                     <input type="text" class="placeholder-fix" placeholder="Enter your e-mail adress">
                  </div>
                  <div class="col-sm-4 col-xs-12">
                        <input type="submit" class="btn btn-sec-col" value="SUBSCRIBE">   
                  </div>
               </form>
            </div>
         </div>
      </div>

      
   </div> <!-- pg-body -->
